
# Select location of the GB rom to load, acceptable values are: 
# "RAM": Load rom from SDCARD into RAM of the Pi Pico. If the rom is stored on ram then the Rom may not fully fit, chunks of the ROM are then cached in RAM and loaded as needed, you can control the size of this cache with by chaning "ROM_CACHE_SIZE", default = 10.
# "FLASH": Load rom from SDCARD into the flash storage of the Pi Pico.
# "PSRAM": Load rom from SDCARD into PSRAM storage of the Pi Pico.


ROM_LOCATION = "FLASH"
#ROM_CACHE_SIZE = 10


# Set location of the BOOT ROM  to load, if the boot rom is not found it starts the game without it. Default value is "dmg_boot.bin".
BOOT_ROM_PATH = "dmg_boot.bin"


#You can load custom mapping file that changes the pins number from the default ones.
#CUSTOM_PIN_MAP=custom_mapping.env

#Set the size of your display.

#The mipidsi cpmpatible driver of the display, see list on README.md.
DISPLAY_DRIVER="mipidsi::models::ILI9341Rgb565"

#The pixel size of your display.
DISPLAY_WIDTH = 240
DISPLAY_HEIGHT = 320

#No scaling of Gamebot image.
#GAMEBOY_RENDER_WIDTH = 160
#GAMEBOY_RENDER_HEIGHT = 144

#Scale Gameboy to screen size.
GAMEBOY_RENDER_WIDTH = 320
GAMEBOY_RENDER_HEIGHT = 240

#Rotate the display, valid values are (0, 90, 180, 270). Default 0.
DISPLAY_ROTATION=90
#Mirror the display, Default false.
DISPLAY_MIRRORED=true
#Invert display color, Default false.
DISPLAY_COLOR_INVERT = true
#Emulator's frame rate (default 30)
FRAME_RATE = 30